[submodule "Adapter"]
	path = Adapter
	url = ./Adapter
[submodule "Bridge"]
	path = Bridge
	url = ./Bridge
[submodule "Builder"]
	path = Builder
	url = ./Builder
[submodule "ChainOfResponsibility"]
	path = ChainOfResponsibility
	url = ./ChainOfResponsibility
[submodule "Command"]
	path = Command
	url = ./Command
[submodule "Composite"]
	path = Composite
	url = ./Composite
[submodule "Decorator"]
	path = Decorator
	url = ./Decorator
[submodule "EventAggregator"]
	path = EventAggregator
	url = ./EventAggregator
[submodule "Facade"]
	path = Facade
	url = ./Facade
[submodule "Factories"]
	path = Factories
	url = ./Factories
[submodule "Flyweight"]
	path = Flyweight
	url = ./Flyweight
[submodule "Interpreter"]
	path = Interpreter
	url = ./Interpreter
[submodule "Iterator"]
	path = Iterator
	url = ./Iterator
[submodule "Lazyload"]
	path = Lazyload
	url = ./Lazyload
[submodule "MVP"]
	path = MVP
	url = ./MVP
[submodule "MVVM"]
	path = MVVM
	url = ./MVVM
[submodule "Mediator"]
	path = Mediator
	url = ./Mediator
[submodule "Memento"]
	path = Memento
	url = ./Memento
[submodule "NullObject"]
	path = NullObject
	url = ./NullObject
[submodule "Observer"]
	path = Observer
	url = ./Observer
[submodule "Prototype"]
	path = Prototype
	url = ./Prototype
[submodule "Proxy"]
	path = Proxy
	url = ./Proxy
[submodule "Repository"]
	path = Repository
	url = ./Repository
[submodule "Rules"]
	path = Rules
	url = ./Rules
[submodule "ServiceLocator"]
	path = ServiceLocator
	url = ./ServiceLocator
[submodule "Singleton"]
	path = Singleton
	url = ./Singleton
[submodule "State"]
	path = State
	url = ./State
[submodule "Strategy"]
	path = Strategy
	url = ./Strategy
[submodule "TemplateMethod"]
	path = TemplateMethod
	url = ./TemplateMethod
[submodule "UnitOfWork"]
	path = UnitOfWork
	url = ./UnitOfWork
[submodule "Visitor"]
	path = Visitor
	url = ./Visitor
